/* #6D8C8C -- dark teal */
/* #A8BFBF -- medium teal */
/* #F2B694 -- peach */
/* #D98982 -- *red* */
/* #736363 -- brown */

/* #d7ebeb4b - teal */
/* #F2B694 - peach pastel */
/* #f8beb97e - red pastel */
/* #736363 -- brown */

/* .heading {
  font-family: 'Oswald', sans-serif;
} */

body {
  margin: 0;
}
/* Logo and header */

.lightMode {
  background-color: white;
  color: black;
}

.darkMode {
  background-color: black;
  color: white;
}

.headerSale {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 3%;
  background-color: #736363;
}

.onSale {
  font-size: 0.8em;
  font-weight: bold;
  color: white;
}

.header {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: end;
  height: 6em;
  margin-bottom: 5%;
  border-bottom: solid rgb(190, 190, 190) 0.5px;
}

.logo {
  font-family: 'Rajdhani', sans-serif;
  color: #736363;
  margin-bottom: 0;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-left: 2%;
}

.headerText {
  font-weight: bold;
}

.headerText:hover {
  color: #f2b694;
  cursor: pointer;
}

.shopAll {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-bottom: 4%;
}

.apparel {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  margin-bottom: 4%;
}

.community {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  margin-bottom: 4%;
}

.about {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  margin-bottom: 4%;
}

.headerLinks {
  color: #736363;
}

.helpful {
  display: inline;
  font-size: 0.8em;
  color: rgb(128, 127, 127);
}

.helpfulButton {
  border: none;
  color: blue;
  background: transparent;
}

.helpfulButton:hover {
  color: #f2b694;
}

.helpfulCount {
  border-right: 1px solid gray;
  border-top: none;
  border-bottom: none;
  border-left: none;
  margin-right: 0.5%;
  padding-right: 0.5%;
}

.reported {
  border: none;
  background-color: transparent;
  color: blue;
  margin-right: 1%;
}

.reportedTrue {
  border: none;
  background-color: transparent;
  color: rgb(200, 70, 70);
  margin-right: 1%;
}

.flag {
  color: rgb(200, 70, 70);
  margin-right: 1.5%;
}

.reported:hover {
  color: #f2b694;
}
/* MODAL */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 80%;
  /* transform: translate(-50%, -50%); */
  background-color: white;
  padding: 0 2em 2em 2em;
  z-index: 1000;
  min-width: 630px;
  width: 40%;
  border-radius: 10px;
  /* transform: translate(50vh, 50vh); */
  transition: all 0.7s ease;
  overflow-y: scroll;
}

.modal textarea {
  font-family: 'Open Sans', sans-serif;
  border-radius: 7px;
  padding: 6px;
  font-size: 12px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  background-color: rgba(0, 0, 0, 0.555);
  z-index: 1000;
  transition: all 3;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalBody {
  display: flex;
}

.closeModal:hover {
  cursor: pointer;
  color: red;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.closeModal {
  font-weight: bold;
  align-items: center;
}

.modal input:checked {
  background-color: #d7ebeb4b;
}

.modalButton {
  background-color: #f2b694;
  color: white;
  border: none;
  padding: 10px;
  align-self: flex-end;
  margin: 15px 0 0 0;
  border-radius: 8px;
}

.modalButton:hover {
  opacity: 60%;
}

.modalInput {
  font-family: 'Open Sans', sans-serif;
}

.modalInput::placeholder {
  font-family: 'Open Sans', sans-serif;
}

.finePrint {
  color: red;
  font-size: 10px;
  height: 8px;
}

.imgThumbnail {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 5px;
}

.imgThumbnail:hover {
  cursor: pointer;
  opacity: 70%;
}

/* for a text area, could be for reviews as well Lu */

.qInput {
  width: 500px;
  height: 100px;
  resize: none;
  outline: none;
  border-width: thin;
}

/* BOTTOM */

.footer {
  /* display: grid;
  justify-items: center;
  align-items: center; */
  height: 800px;
  margin-top: 10%;
}

.emailSignUp {
  background-color: #887979;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.footerSubscribe {
  background-color: white;
  border: none;
  width: 10%;
  height: 40px;
  min-width: 100px;
}

.footerSubscribe:hover {
  background-color: #f2b694;
  color: white;
}

.bottomEmailHeading {
  color: white;
  font-family: 'Rajdhani', sans-serif;
}

.bottomEmail {
  background: transparent;
  color: white;
  border: solid white 1px;
  outline: none;
  height: 35px;
  width: 30%;
  padding-left: 1%;
}

.bottomEmail::placeholder {
  color: white;
  /* margin-left: 2%; */
}

.bottom {
  /* background-color: #736363; */
  /* height: 300px; */
  display: grid;
  grid-template-columns: 6fr 2fr 1fr;
  grid-template-rows: 5fr 1fr;
  margin-top: 1%;
}

.social {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-left: 10%;
}

.bottomHeading {
  font-weight: bold;
}

.icon {
  height: 17px;
  width: 17px;
  color: #f2b694;
  margin-right: 3%;
}

.icon:hover {
  color: #887979;
  cursor: pointer;
}

.pinterest {
  margin-left: 1%;
}

.customerCare {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
}

.customerCareContent {
  flex-wrap: wrap;
}

.customerCareContent:hover {
  cursor: pointer;
  color: #f2b694;
}

.messageIconSection {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  justify-self: right;
}

.messageIconWrapper {
  border-radius: 50%;
  padding: 10px;
  background-color: #f2b694;
  box-shadow: rgba(73, 73, 73, 0.089) 3px 3px 3px;
  margin-right: 10%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.messageIconWrapper:hover {
  cursor: pointer;
}

.messageIcon {
  height: 40px;
  width: 40px;
  color: white;
  /* background-color: white; */
}

/* photo expansion component */
.photo {
  position: relative;
  top: 5%;
  left: 10%;
  max-height: 80%;
  max-width: 80%;
  background-color: rgb(92, 85, 85);
  z-index: 1000;
  border-radius: 20px;
  margin: 20px;
  overflow-y: scroll;
}

.overlayPhoto {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.555);
  z-index: 1000;
  transition: all 3;
  overflow-y: scroll;
}

.bottomButtons {
  margin-left: 10%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.bottomButton {
  border: none;
}

.bottomButtonLight {
  background-color: #F2B694;
  color: white;
}

.bottomButtonLight:hover {
  background-color: white;
  border: solid black .025px;
  color: black;
}

.bottomButtonDark {
  background-color: #887979;
}

.bottomButtonDark:hover {
  background-color: black;
  color: white;
}
