/* #6D8C8C -- dark teal */
/* #A8BFBF -- medium teal */
/* #F2B694 -- peach */
/* #D98982 -- *red* */
/* #736363 -- brown */

/* .heading {
  font-family: 'Oswald', sans-serif;
} */

.helpful {
  display: inline;
  font-size: 0.8em;
  color: rgb(128, 127, 127);
}

.helpfulButton {
  border: none;
  color: blue;
  background: transparent;
}

.helpfulButton:hover {
  color: #f2b694;
}

.helpfulCount {
  border-right: 1px solid gray;
  border-top: none;
  border-bottom: none;
  border-left: none;
  margin-right: 0.5%;
  padding-right: 0.5%;
}

.reported {
  border: none;
  background-color: transparent;
  color: blue;
  margin-right: 1%;
}

.reported:hover {
  color: #f2b694;
}
/* MODAL */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 80%;
  /* transform: translate(-50%, -50%); */
  background-color: white;
  padding: 0 2em 2em 2em;
  z-index: 1000;
  width: 60%;
  border-radius: 10px;
  /* transform: translate(50vh, 50vh); */
  transition: all 0.7s ease;
  overflow-y: scroll;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.555);
  z-index: 1000;
  transition: all 3;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalBody {
  display: flex;
}

.closeModal:hover {
  cursor: pointer;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.closeModal {
  font-weight: bold;
  align-items: center;
}

.modalButton {
  background-color: rgb(52, 52, 255);
  color: white;
  border: none;
  padding: 10px;
  align-self: flex-end;
  margin: 15px 0 0 0;
  border-radius: 8px;
}

.modalButton:hover {
  opacity: 90%;
}

.finePrint {
  color: red;
  font-size: 10px;
  height: 8px;
}

.imgThumbnail {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.imgThumbnail:hover {
  cursor: pointer;
  opacity: 80%;
}

/* for a text area, could be for reviews as well Lu */

.qInput {
  width: 500px;
  height: 100px;
  resize: none;
  outline: none;
  border-width: thin;
}
