.overviewWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* grid-template-rows: 1fr min-content;
  grid-auto-rows: minmax(50px); */
}

.mainDisplay {
  background-color: #f2b694;
  grid-column: 1 / 2;
  grid-row: 1 / 7;
  display: flex;
  cursor: zoom-in;
  height: 500px;
  width: auto;
  /* position: relative; */
  justify-content: center;
}

img {
  height: 100%;
  /* width: 100%; */
  /* justify-content: right; */
}

.thumbnailContainer {
  position: absolute;
  top: 17%;
  left: 0.7%;
}

.slider {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 45px;
  padding: 2px;
  max-height: 400px;
  max-width: fit-content;
  overflow-y: hidden;
}

.thumbnailImg {
  height: 56px;
  padding: 1px;
  opacity: 0.5;
}

.thumbnailImg:hover {
  opacity: 1;
}

.thumbnailImg:focus {
  opacity: 1;
}

.active {
  opacity: 1;
}

.rightColumn {
  grid-column: 2 / 3;
}

.reviews {
  background-color: #a8bfbf;
  /* max-height: 50px; */
}

.productCategory {
  background-color: #a8bfbf;
}

.productTitle {
  background-color: #a8bfbf;
}

.productPrice {
  background-color: #a8bfbf;
}

.simpleStyleLine {
  background-color: #a8bfbf;
}

.productStyles {
  background-color: #a8bfbf;
  display: flex;
  flex-direction: row;
}

.stylesButtonsImgs {
  height: 50px;
  width: auto;
  padding: 1px;
  cursor: pointer;
}

/* .styleButtons {
  background-color: #a8bfbf;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 1px black;
} */

.sizeDropDown {
  /* grid-column: 2 / 3;
  grid-row: 6 / 7; */
}

.quantityDropDown {
  /* grid-column: 2 / 3;
  grid-row: 6 / 7; */
}

.cart {
  background-color: #a8bfbf;
  /* grid-column: 2 / 3;
  grid-row: 7 / 8; */
}

.relatedProducts {
  background-color: #a8bfbf;
  /* grid-column: 2 / 3;
  grid-row: 6 / 7; */
}

.socialMedia {
  background-color: #d98982;
  /* grid-column: 2 / 3;
  grid-row: 7 / 8; */
  /* align-self: end;
  border-right: solid;
  border-bottom: solid;
  border-color: black;
  justify-items: right;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em; */
}

.slogan {
  background-color: #d98982;
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}

.productDescription {
  background-color: #d98982;
  grid-column: 1 / 2;
  grid-row: 7 / 8;
  grid-auto-rows: minmax(50px, auto);
}

.modal {
  position: fixed;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  transform: 'translate(-50%, -50%)';
  background-color: white;
  padding: 15px;
  z-index: 1000;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.50);
  z-index: 999;
}

.cartModal {
  position: fixed;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  transform: 'translate(-50%, -50%)';
  background-color: white;
  padding: 15px;
  z-index: 1000;
  width: 75%;
}

.cartOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.50);
  z-index: 999;
}