.wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(7, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 1em;
}

.one {
  background-color: #f2b694;
  grid-column: 1;
  grid-row: 1 / 7;
}

.two {
  background-color: #a8bfbf;
  grid-column: 2;
  grid-row: 1;
}

.three {
  background-color: #a8bfbf;
  grid-column: 2;
  grid-row: 2;
}

.four {
  background-color: #a8bfbf;
  grid-column: 2;
  grid-row: 3;
}

.five {
  background-color: #a8bfbf;
  grid-column: 2;
  grid-row: 4;
}

.six {
  background-color: #a8bfbf;
  grid-column: 2;
  grid-row: 6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 1px black;
}

.seven {
  background-color: #d98982;
  grid-column: 1;
  grid-row: 7;
  grid-auto-rows: minmax(50px, auto);
}

.eight {
  background-color: #d98982;
  grid-column: 2;
  grid-row: 7;
  align-self: end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

.nine {
  background-color: #a8bfbf;
  grid-column: 2;
  grid-row: 5;
}