/* MAIN GRID */
.QA {
  display: grid;
  grid-template-rows: auto auto auto;
}

.search {
  background-color: #6D8C8C;
  grid-row-start: 1;
  grid-row-end: 2;
}

.qa {
  background-color: #F2B694;
  grid-row-start: 2;
  grid-row-end: 3;
}

.buttons {
  background-color: #D98982;
  grid-row-start: 3;
}

.searchBar {
  width: 20%;
}

/* QUESTIONS AND ANSWERS */
.question {
  border: solid black;
  padding: 1em;
}

/* MODALS */

.modalInput {
  width: 75%;
}

.finePrint {
  color: red;
  font-size: 10px;
  height: 8px;
}

.imgThumbnail {
  height: 50px;
  width: 50px;
}