/* MAIN GRID */
.QA {
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
}

.search {
  background-color: #6d8c8c;
  grid-row-start: 1;
  grid-row-end: 2;
}

.qa {
  background-color: #f2b694;
  grid-row-start: 2;
}

.buttons {
  background-color: #d98982;
  grid-row-start: 3;
}

.searchBar {
  width: 20%;
}

/* QUESTIONS AND ANSWERS */
.question {
  border: solid black;
  padding: 1em;
}

/* MODALS */

.modalInput {
  width: 75%;
}
