.container {
  display: grid;
  justify-items: stretch;
  gap: 5px 5px;
  grid: 50px 300px 75px/27% 73%;
  margin: 50px;
}

.header {
  background-color: #6d8c8c;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.individualReview {
  background-color: #a8bfbf;
  grid-column: 2;
  grid-row: 2/3;
}

.footer {
  background-color: #d98982;
  grid-column: 2;
  grid-row: 3;
}

.breakdown {
  grid-column: 1;
  grid-row: 1/4;

  background-color: #f2b694;
}
